name: pytest

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.11"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
          pip install -e .
      - name: Test with tox
        run: |
          PYTHON_VERSION=$(python --version | cut -d' ' -f2)
          
          if [[ "$PYTHON_VERSION" == "3.9"* ]]; then
            echo "Detected Python version: $PYTHON_VERSION"
            echo "Skipping tests with xarray versions that require newer python"
            tox -p --skip-env xarray202501
          else
            tox -p
          fi